%h2 #{current_user.login}'s Dashboard

.articles
  %h3 投稿した記事の一覧
  %p!= link_to '新規記事を投稿する', new_article_path

  %table.dashboard
    %tr
      %th タイトル
      %th 状態
    - @articles.each do |article|
      %tr
        %td!= link_to h(article.title), edit_article_path(article)
        %th!= render_status_for(article)

.kareki
  %h3 外部フィードの取り込み
  %ul
    %li!= link_to 'エントリの公開/非公開を設定する', kareki_entries_path
    %li!= link_to 'フィードを管理する', kareki_feeds_path

%hr

%p!= link_to 'サインアウト', signout_path
