<h2><%= current_user.login %>'s Dashboard</h2>

<p>
<%= link_to '新規記事を投稿する', new_article_path %>
</p>

<div class="articles">
  <h3>投稿した記事の一覧</h3>
  <table class="dashboard">
	<tr>
	  <th>タイトル</th>
	  <th>状態</th>
	</tr>
	<% @articles.each do |article| -%>
	<tr>
	  <td><%= link_to article.title, edit_article_path(article) %></td>
	  <td><%= render_status_for(article) %></td>
	</tr>
	<% end -%>
  </table>
</div>
<hr />
<p>
<%= link_to 'サインアウト', signout_path %>
</p>
