<div class="search-phrase">
「<%= @q %>」の検索結果一覧
</div>

<div class="hit-num">
<p>[記事]との一致 (<%= @articles.size %>件)</p>
</div>
<% for article in @articles %>
  <% div_for(article) do  -%>
    <%= render :partial => "shared/article", :locals => {:article => article} %>
  <% end -%>
<% end -%>

<div class="hit-num">
<p>[ページ]との一致 (<%= @pages.size %>件)</p>
</div>
<% for page in @pages %>
  <% div_for(page) do  -%>
    <%= render :partial => "shared/page", :locals => {:page => page} %>
  <% end -%>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "shared/sidebar" %>
<% end -%>
