<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="ja">
<title>Ruby x Agile</title>
<subtitle>Rubyでアジャイルなソフトウェア開発を実現する永和システムマネジメントのWebサイト</subtitle>
<link href="<%= root_url(:only_path => false) %>"/>
<link rel="self" href="<%= url_for(:controller => 'articles', :action => 'feed.xml', :only_path => false) %>" type="application/atom+xml" />
<author>
  <name>永和システムマネジメント</name>
</author>
<updated><%= @articles.first.updated_at.to_s(:db) %></updated>
<id><%= url_for(:controller => 'articles', :action => 'feed.xml', :only_path => false) %></id>
<% @articles.each do |article| -%>
  <entry>
	<id><%= article_url(article) %></id>
	<author><name><%=h article.user.login %></name></author>
	<published><%=h article.created_at.to_s(:db) %></published>
	<updated><%=h article.updated_at.to_s(:db) %></updated>
	<link href="<%= article_path(article) %>" rel="alternate" type="text/html" />
	<title><%=h(article.title) %></title>
	<content type="html">
	  <%=parse(article.body) %>
	</content>
  </entry>
<% end -%>
</feed>
