<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns="http://purl.org/rss/1.0/"
		 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		 xmlns:dc="http://purl.org/dc/elements/1.1/"
		 xml:lang="ja">
  <channel rdf:about="<%= url_for(:only_path => false, :controller => 'articles', :action => 'feed.rdf') %>">
	<title>Ruby x Agile</title>
	<link><%= url_for(:controller => 'articles', :only_path => false) %></link>
	<description>Rubyでアジャイルなソフトウェア開発を実現する永和システムマネジメントのWebサイト</description>
<% unless @articles.empty? -%>
	<items>
	  <rdf:Seq>
		<% @articles.each do |article| -%>
		<rdf:li rdf:resource="<%= article_url(article) %>"/>
		<% end -%>
	  </rdf:Seq>
	</items>
  </channel>
  <% @articles.each do |article| -%>
  <item rdf:about="<%= article_url(article) %>">
　　<title><%=h article.title %></title>
　　<link><%= article_url(article) %></link>
　　<description><%=h parse_article(article) %></description>
　　<dc:date><%=h article.updated_at.to_s(:db) %></dc:date>
　</item>
  <% end -%>
<% end -%>
</rdf:RDF>
