<h2>新規ブログ記事の投稿</h2>

<%= error_messages_for :article %>

<% form_for(@article) do |f| %>
  <%= render :partial => f %>
  <p>
  <%= f.submit "プレビュー", :name => "preview" %>
  <%= f.submit "草稿" %>
  <%= f.submit "公開", :name => "publish" %>
  </p>
<% end %>
<!--
<div class="upload-image">
  <h3>画像の追加</h3>
  <ul>
-->
    <%# @article.images.each do |image| %>
       <%# スキーマ名、サーバ名を直書きで逃げている。 %>
<!--
       <li><%# "http://ruby.agile.esm.co.jp#{image.filepath}" %></li>
-->
    <%# end %>
<!--
  </ul>
-->
  <% form_for(:article, @article, :url => { :action => 'create' }, :html => { :multipart => true }) do |f| %>
    <%= render :partial => 'upload_image', :locals => { :image_f => f } %>
  <% end %>
</div>
