<h2>投稿記事のプレビュー</h2>
<%= error_messages_for :article %>

<div class="preview">
<div class="article">
  <h2 class="title"><%= @article.title %></h2>
  <div class="body">
<%= parse(@article.body) %>
  </div>
</div>
<%# TODO: _article と部分的にdupっている %>
</div>

<% form_for(@article, :url => {:action => (@article.new_record? ? "create" : "update")}) do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <p>
  <%= f.submit "プレビュー", :name => "preview" %>
  <%= f.submit "草稿"  %>
  </p>
<% end %>
