- content_for :title do
  #{@article.title} - #{site_name}

- @description = @article.summary if @article.summary.present?

!= render :partial => 'navigation'

%div[@article]!= render :partial => 'shared/article'

!= disqus_thread

!= render :partial => 'navigation'
