<%= render :partial => 'navigation' %>
<% div_for(@article, :class => 'article') do -%>
<%= render :partial => 'article' %>
<% end -%>
<div class="comments">
<h3><a name="comments" class="anchor">コメント</a></h3>
<%= link_to 'コメントする', "#comment_form" %>
<ol>
<% for comment in @article.comments %>
  <li class="comment">
	<div class="meta">
	  <span class="author"><%=h comment.author %></span> on <%=h comment.created_at.to_s(:db) %>
	</div>
	<div class="body"><%=h comment.body %></div>
  </li>
<% end %>
</ol>
</div><!-- end .comments -->
<div class="comment_form">
  <% form_for(:comment, @comment, :url => {:action => "comment", :id => @article.id}) do |f| -%>
  <p><a name="comment_form" class="anchor">お名前:</a><br /><%= f.text_field :author, :size => 40 %></p>
  <div class="hidden_dummy_field">
	<p>
	<div style="font-size:80%;">(メールアドレスはスパム除けのダミーフィルドです。このフォームには何も入力しないでください。このフォームに入力するとスパムと見なされます。)</div>
	Email:<br /><%= f.text_field :email, :size => 40 %>
	</p>
  </div>
  <p>コメント:<br /><%= f.text_area :body, :rows => 3 %></p>
  <%= f.submit "投稿" %>
<% end -%>
</div><!-- end .comment-form -->
<%= render :partial => 'navigation' %>
<% content_for :sidebar do -%>
  <%= render :partial => "sidebar" %>
<% end -%>
