%h1 Listing kareki_feeds
%table
  %tr
    %th Title
    %th Link
    %th Url
    %th Etag
  - @kareki_feeds.each do |kareki_feed|
    %tr
      %td= kareki_feed.title
      %td= kareki_feed.link
      %td= kareki_feed.url
      %td= kareki_feed.etag
      %td!= link_to 'Show', kareki_feed
      %td!= link_to 'Edit', edit_kareki_feed_path(kareki_feed)
      %td!= link_to 'Destroy', kareki_feed, :confirm => 'Are you sure?', :method => :delete
%br
!= link_to 'New kareki_feed', new_kareki_feed_path
