%h1 New kareki_feed

- form_for(@kareki_feed) do |f|
  != f.error_messages
  %p
    != f.label :url
    %br
    != f.text_field :url
    %br
    != f.label :user
    %br
    != f.collection_select :user_id, User.all, :id, :login, :include_blank => true
  %p
    != f.submit 'Create'

!= link_to 'Back', kareki_feeds_path
