%p
  %b Title:
  = @kareki_feed.title
%p
  %b Link:
  = @kareki_feed.link
%p
  %b Url:
  = @kareki_feed.url
%p
  %b Owner:
  = @kareki_feed.user.try(:login)
%p
  %b Etag:
  = @kareki_feed.etag
!= link_to 'Edit', edit_kareki_feed_path(@kareki_feed)
|
!= link_to 'Back', kareki_feeds_path
