<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>ログインに使用中のアカウント:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider_name %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'このサービスとログインアカウントの紐付けを解除しますか?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="associate_login">
<% if @authentications %>
  <p><strong>ログインアカウントに紐づけるサービスを選択:</strong></p>
<% else %>
  <p><strong>外部サービスを利用してログイン:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider" id="twitter">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/github" class="auth_provider" id="github">
  <%= image_tag "github_64.png", :size => "64x64", :alt => "Github" %>
  Github
</a>
<a href="/auth/open_id" class="auth_provider" id="open_id">
  <%= image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>
</div>
