- if @authentications
  - unless @authentications.empty?
    %p
      %strong ログインに使用中のアカウント:
    .authentications
      - for authentication in @authentications
        .authentication
          = image_tag "#{authentication.provider}_32.png", :size => "32x32"
          .provider= authentication.provider_name
          .uid= authentication.uid
          = link_to "X", authentication, :confirm => 'このサービスとログインアカウントの紐付けを解除しますか?', :method => :delete, :class => "remove"
.associate_login
  - if @authentications
    %p
      %strong ログインアカウントに紐づけるサービスを選択:
  - else
    %p
      %strong 外部サービスを利用してログイン:
  %a#twitter.auth_provider{:href => "/auth/twitter"}
    = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
    Twitter
  %a#github.auth_provider{:href => "/auth/github"}
    = image_tag "github_64.png", :size => "64x64", :alt => "GitHub"
    Github
  %a#facebook.auth_provider{:href => "/auth/facebook"}
    = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
    Facebook
  %a#linked_in.auth_provider{:href => "/auth/linked_in"}
    = image_tag "linked_in_64.png", :size => "64x64", :alt => "LinkedIn"
    LinkedIn
  %a#open_id.auth_provider{:href => "/auth/open_id"}
    = image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID"
    OpenID
