  <p>
    <b>Open id url</b> <%=h @user.open_id_url %>
    <%= form.hidden_field :open_id_url %>
  </p>

  <p>
    <b>Login</b> <%= form.text_field :login %>
  </p>

  <p>
    <b>Email</b> <%= form.text_field :email %>
  </p>

  <p>
    <b>FullName</b> <%= form.text_field :fullname %>
  </p>

  <p>
    <b>あなたのWebサイト</b> <%= form.text_field :url %>
  </p>

  <p>
    <b>AmazonアソシエイトID</b> <%= form.text_field :amazon_associate %>
  </p>
