<p>
<p>
  <b>Open id url:</b>
  <%=h @user.open_id_url %>
</p>
<p>
  <b>Login:</b>  <%=h @user.login %>
</p>
<p>
  <b>Email:</b>  <%=h @user.email %>
</p>
<p>
  <b>Full Name</b> <%=h @user.fullname %>
</p>
<p>
  <b>Amazon associate:</b>  <%=h @user.amazon_associate %>
</p>
<% if @user.member? -%>
<p>
  <b>Admin User</b>
</p>
<% end -%>

<%= link_to 'Edit', edit_user_path(@user) %>
