%h2
  中の人:
  != image_tag @nakanohito.gravatar_url(:size => 32), :class => 'icon'
  = nakanohito_name @nakanohito

%dl
  %dt Web日記力
  %dd= number_to_percentage(@nakanohito.accepted_rate, :precision => 1)

%h3 この人が最近書いたお知らせ

%ul#articles
  - @nakanohito.articles.publishing.recent.each do |article|
    %li
      = article.created_at.to_date.to_s(:db)
      != link_to(h(article.title), article_path(article))

%h3 この人が最近書いたブログ記事

%ul#entries
  - @nakanohito.entries.confirmed.recent.each do |entry|
    %li
      = entry.published_at.to_date.to_s(:db)
      != link_to(h(entry.title), entry.link)
