<div class="sblock">
  <p><%= link_to '私たち', '/pages/EiwaSystemManagement' %>は<strong>アジャイル開発</strong>とオブジェクト指向スクリプト言語<strong>Ruby</strong>で<strong>「お客様に価値を提供し続けるシステム」</strong>を構築し、お客様と一緒に<strong>育てて</strong>いきます。</p>
</div>

<div class="sblock">
<p>
<%= link_to image_tag("esm-blue_s.png", :alt => "永和システムマネジメント", :size => "160x19", :style => "border-width:0"),
    'http://www.esm.co.jp/', :style => "border-width:0;text-decoration:none;" %>
</p>
<p>
<%= link_to image_tag("ruby_certified_sier_logo.png", :alt => "Ruby Association Certified System Integrator",:size => "160x120", :style => "border-width:0"),
    article_path('37'), :style => "border-width:0;text-decoration:none;" %>
</p>
<p>
<%= link_to image_tag("banner_pro_management_s.png", :alt => "永和流プロジェクト運営術", :size => "160x28", :style => "border-width:0"),
    'http://agile.esm.co.jp/scrum/', :style => "border-width:0;text-decoration:none;" %>
</p>
<p>
<%= link_to image_tag("banner_esm_consulting.png", :alt => "コンサルティングセンター", :size => "160x74", :style => "border-width:0"),
    'http://sec.tky.esm.co.jp/', :style => "border-width:0;text-decoration:none;" %>
</p>
<p>
<%= link_to image_tag("rubykaigi09_badge_sponsor.gif", :alt => "RubyKaigi2009 Sponsor", :size => "160x160", :style => "border-width:0"),
    'http://rubykaigi.org/2009/ja', :style => "border-width:0;text-decoration:none;" %>
</p>
<p>
<%= link_to image_tag("rubykaigi08_badge_sponsor.png", :alt => "RubyKaigi2008 Sponsor", :size => "160x79", :style => "border-width:0"),
    'http://rubykaigi.org/2008', :style => "border-width:0;text-decoration:none;" %>
</p>

</div>

<div class="sblock">
<h3>フィード</h3>
<ul style="margin-left:0em;" >
  <li style="list-style-type:none;"><%= image_tag "feed-icon-28x28.png", :size => "14x14", :alt => "Feed" %>&nbsp;<%= link_to '新着記事', feed_articles_url(:format => :xml) %></li>
  <!--
  <li style="list-style-type:none;"><%= image_tag "feed-icon-28x28.png", :size => "14x14", :alt => "Feed" %>&nbsp;<%= link_to 'ふつうのシステム開発', feed_pages_url(:format => :xml) %></li>
  -->
</ul>
</div>

<div class="sblock">
<div class='signin'>
  <% unless logged_in? %>
    <%= link_to 'サインイン', signin_path %>
  <% end %>
</div>
</div>
<!-- pending
<div class="sblock">
<p>
<%# form_tag({ :controller => 'search' }, { :method => 'GET' }) %>
検索 <%# text_field_tag :q, @q, :accesskey => 's' %>
</end>
</p>
</div>
-->
