<div class="sblock">
  <h3><%= link_to '永和システムマネジメント', '/pages/EiwaSystemManagement' %>について</h3>
  <p>私たちは「<strong>お客様に価値を提供し続けるシステム</strong>」を構築します。お客様の環境やビジネスの変化に適応するシステムを、お客様と一緒に<strong>育てて</strong>いきたい</strong>と思っています。</p>
  <p>私たちは、ソフトウェア開発のプロフェッショナルとしての誠実な態度と、<strong>アジャイル開発</strong>のアプローチを通じてこれを達成します。そして、そのための手段としてオブジェクト指向スクリプト言語<strong>Ruby</strong>が有効だと信じて行動しています。</p>
</div>

<div class="sblock">
<p>
<%= link_to image_tag("rubykaigi09_badge_sponsor.gif", :alt => "RubyKaigi2009 Sponsor", :size => "160x160", :style => "border-width:0"),
    'http://rubykaigi.org/2009/ja', :style => "border-width:0;text-decoration:none;" %>
</p>
<p>
<%= link_to image_tag("rubykaigi08_badge_sponsor.png", :alt => "RubyKaigi2008 Sponsor", :size => "160x79", :style => "border-width:0"),
    'http://rubykaigi.org/2008', :style => "border-width:0;text-decoration:none;" %>
</p>

</div>

<div class="sblock">
<h3>フィード</h3>
<ul style="margin-left:0em;" >
  <li style="list-style-type:none;"><%= image_tag "feed-icon-28x28.png", :size => "14x14", :alt => "Feed" %>&nbsp;<%= link_to '新着記事', feed_articles_url(:format => :xml) %></li>
  <!--
  <li style="list-style-type:none;"><%= image_tag "feed-icon-28x28.png", :size => "14x14", :alt => "Feed" %>&nbsp;<%= link_to 'ふつうのシステム開発', feed_pages_url(:format => :xml) %></li>
  -->
</ul>
</div>

<div class="sblock">
<div class='signin'>
  <% unless logged_in? %>
    <%= link_to 'サインイン', signin_path %>
  <% end %>
</div>
</div>
<!-- pending
<div class="sblock">
<p>
<%# form_tag({ :controller => 'search' }, { :method => 'GET' }) %>
検索 <%# text_field_tag :q, @q, :accesskey => 's' %>
</end>
</p>
</div>
-->
