.sblock
  %p
    = link_to '私たち', '/pages/EiwaSystemManagement'
    は
    %strong> アジャイル開発
    とオブジェクト指向スクリプト言語
    %strong> Ruby
    で
    %strong> 「お客様に価値を提供し続けるシステム」
    を構築し、お客様と一緒に
    %strong> 育てて
    いきます。
.sblock
  %p
    = link_to image_tag("esm.png", :alt => "永和システムマネジメント", :size => "150x75", :style => "border-width:0"), 'http://www.esm.co.jp/', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("ruby_certified_sier_logo.png", :alt => "Ruby Association Certified System Integrator",:size => "160x120", :style => "border-width:0"), article_path('37'), :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("banner_pro_management_s.png", :alt => "永和流プロジェクト運営術", :size => "160x28", :style => "border-width:0"), 'http://agile.esm.co.jp/scrum/', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("banner_esm_consulting.png", :alt => "コンサルティングセンター", :size => "160x74", :style => "border-width:0"), 'http://sec.tky.esm.co.jp/', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("sprk2012_badge_sponsor.png", :alt => "Sapporo RubyKaigi 2012 Sponsor", :size => "160x160", :style => "border-width:0"), 'http://sapporo.rubykaigi.org/2012/ja/sponsors.html#P01', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("rubykaigi11_badge_sponsor.png", :alt => "RubyKaigi2011 Sponsor", :size => "160x160", :style => "border-width:0"), 'http://rubykaigi.org/2011/ja/sponsors_platinum#P02', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("rubykaigi10_badge_sponsor.gif", :alt => "RubyKaigi2010 Sponsor", :size => "160x201", :style => "border-width:0"), 'http://rubykaigi.org/2010/ja/SponsorsPlatinum#esm', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("rubykaigi10_badge_speaker.gif", :alt => "RubyKaigi2010 Speaker", :size => "160x201", :style => "border-width:0"), 'http://rubykaigi.org/2010/ja/events/23', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("rubykaigi09_badge_sponsor.gif", :alt => "RubyKaigi2009 Sponsor", :size => "160x160", :style => "border-width:0"), 'http://rubykaigi.org/2009/ja', :style => "border-width:0;text-decoration:none;"
  %p
    = link_to image_tag("rubykaigi08_badge_sponsor.png", :alt => "RubyKaigi2008 Sponsor", :size => "160x79", :style => "border-width:0"), 'http://rubykaigi.org/2008', :style => "border-width:0;text-decoration:none;"
.sblock
  %h3 フィード
  %ul{:style => "margin-left:0em;"}
    %li{:style => "list-style-type:none;"}
      = image_tag "feed-icon-28x28.png", :size => "14x14", :alt => "Feed"
      \&nbsp;#{link_to '新着記事', feed_articles_url(:format => :rss)}
.sblock
  .signin
    - unless signed_in?
      = link_to 'サインイン', signin_path
