%h2.title!= link_to h(article.title), article_path(article)
.meta
  Posted by
  %span.author!= link_to h(article.user.login), member_path(article.user)
  on
  %span.posted_on= posted_on article.created_at
.meta!= link_to_comments(article)
.body!~ parse_article(article)
.meta
  != link_to "この記事へのリンク用URL: #{h article_url(article)}", article_path(article)
  %p (トラックバック機能は、ありません)
