<% if session[:user_id] -%>
<div class="member sblock">
<h3><%= current_user.login %> としてサインイン中</h3>
<ul>
<% if @page -%>
<li><%= link_to '現在のページを編集する', edit_page_path(@page.name) %></li>
<% end -%>
<li style="padding-top:1em;"><%= link_to 'サインアウト', signout_path %></li>
</ul>
</div>
<% end -%>

<div class="sblock">
  <h3><%= link_to '永和システムマネジメント', 'http://www.esm.co.jp/' %>について</h3>
  <p>私たちは「<strong>お客様に価値を提供し続けるシステム</strong>」を構築します。お客様の環境やビジネスの変化に適応するシステムを、お客様と一緒に<strong>育てて</strong>いきたい</strong>と思っています。</p>
  <p>私たちは、ソフトウェア開発のプロフェッショナルとしての誠実な態度と、<strong>アジャイル開発</strong>のアプローチを通じてこれを達成します。そして、そのための手段としてオブジェクト指向スクリプト言語<strong>Ruby</strong>が有効だと信じて行動しています。</p>
</div>

<div class="sblock">
<h3>フィード</h3>
<p>
<%= link_to(image_tag("feed-icon-28x28.png", {:size=>"28x28", :alt=> "Feed"}), url_for(:controller => 'pages', :action => 'feed', :format => 'xml', :only_path => false), :class => 'image_link') %>
<%= link_to 'Atom', url_for(:controller => 'pages', :action => 'feed', :format => 'xml', :only_path => false) %>
</p>
</div>

<div class="sblock">
<p>
<%= form_tag({ :controller => 'search' }, { :method => 'GET' }) %>
検索 <%= text_field_tag :q, @q %>
</end>
</p>
</div>
