- if logged_in?
  .member.sblock
    %h3 #{current_user.login} としてサインイン中

    %ul
      %li!= link_to 'ダッシュボード', dashboard_path
      %li!= link_to '新規記事を投稿する', new_article_path
      - if @article && !@article.new_record?
        %li!= link_to '現在の記事を修正する', edit_article_path(@article)
      %li!= link_to 'エントリの管理', kareki_entries_path
      %li(style='padding-top: 1em')!= link_to 'サインアウト', signout_path

!= render :partial => 'shared/about_company'
