<% if logged_in? -%>
<div class="member sblock">
<h3><%= current_user.login %> としてサインイン中</h3>
<ul>
<li><%= link_to 'ダッシュボード', dashboard_path %></li>
<li><%= link_to '新規記事を投稿する', new_article_path %></li>
<% if @article -%>
<li><%= link_to '現在の記事を修正する', edit_article_path(@article) %></li>
<% end -%>
<li style="padding-top:1em;"><%= link_to 'サインアウト', signout_path %></li>
</ul>
</div>
<% end -%>

<%= render :partial => 'shared/about_company' %>
