- content_for :head do
  %style(type='text/css')
    :sass
      .articles
        :padding 0.5em 1em
        :background-color #eee
        :border-radius 0.5em
        :-moz-border-radius 0.5em
        :width 95%
        :margin 0 auto

        .article
          :width 100%
          :margin-bottom 2px
          h2
            :font-size 1em
            :margin-right 0.5em
            :margin-bottom 0

          p.summary
            :margin 0 1em
            :font-size 0.9em

.articles
  - @articles.each do |article|
    %div[article]
      %h2!= link_to h(article.title), article
      - if article.summary.present?
        %p.summary= article.summary
      .meta
        Posted by
        %span.author!= link_to_nakanohito article.user
        on
        %span.posted_on= posted_on article.created_at

  .more!= link_to 'もっと見る', articles_path

.entries
  - @entries.each do |entry|
    %div.autopagerize_page_element[entry]
      %h2.title!= link_to h(entry.title), entry.link
      .meta
        Posted by
        %span.author!= link_to_nakanohito(entry.feed.owner) || h(entry.creator)
        on
        %span.posted_on= posted_on(entry.published_at)
        from
        %span.source!= link_to h(entry.feed.title), entry.feed.link
      .body!~ replace_img_to_anchor entry.content

  != will_paginate @entries
