- content_for :head do
  %style(type='text/css')
    :sass
      .articles
        :padding 0.5em 1em
        :background-color #eee
        :border-radius 0.5em
        :-moz-border-radius 0.5em

        .article
          :margin 0

          h2
            :font-size 1em
            :float left
            :margin-right 0.5em

          h2, p.summary
            :clear left

          p.summary
            :margin 0 0 0 1em
            :font-size 0.9em

.articles
  - @articles.each do |article|
    %div[article]
      %h2!= link_to h(article.title), article
      .meta
        Posted by
        %span.author= article.user.login
        on
        %span.posted_on= posted_on article.created_at
      - if article.summary.present?
        %p.summary= article.summary

  .more!= link_to 'もっと見る', articles_path

.entries
  - @entries.each do |entry|
    %div[entry]
      %h2.title!= link_to h(entry.title), entry.link
      .meta
        Posted by
        %span.author= entry.creator
        on
        %span.posted_on= posted_on(entry.published_at)
        from
        %span.source!= link_to h(entry.feed.title), entry.feed.link
      .body!~ replace_img_to_anchor entry.content

  != will_paginate @entries
