<h2>お問い合わせ・ご相談(送信確認)</h2>
  <div>
	以下の内容で送信いたします。内容をご確認ください。
  </div>
  <div class="contact_form">
	<% form_for(@contact, :url => {:action => "submit"}) do |f| -%>

	<%= f.label(:email) %><%= f.hidden_field :email %>
	<div class="confirm email"><%=h @contact.email %></div>
	<%= f.label(:message) %><%= f.hidden_field :message %>
	<div class="confirm"><%=h @contact.message %></div>
	<%= f.hidden_field :bot %>
	<label for="contact_submit">
	  <%= f.submit "入力フォームへ戻る", :name => "edit" -%>
	  <%= f.submit "この内容で送信する" %>
	</label>
	<% end -%>
  </div>
