:ruby
  site_version = 'version:β'
  site_lead = 'Rubyとアジャイルでふつうのシステム開発を実現する永和システムマネジメントのWebサイト'
  default_title = "#{site_name} #{site_version} - #{site_lead}"

!!! Strict
%html
  %head
    %meta(charset='utf-8')
    %meta(name='description'){:content => @description || site_lead}
    %meta(name='keywords' content='Ruby,Rails,RoR,Agile,アジャイル,システム開発,永和システムマネジメント,ESM')
    %link(rel='icon' type='image/png' href='/favicon.png')
    != auto_discovery_link_tag :rss, {:controller => "articles", :action => "feed", :format => 'rss'}, :title => "新着記事の一覧"
    != stylesheet_link_tag 'application'
    != javascript_include_tag 'application'
    != csrf_meta_tag
    %script(type='text/javascript' src='http://s.hatena.ne.jp/js/HatenaStar.js')
    :javascript
      Hatena.Star.EntryLoader.headerTagAndClassName = ['h2','title'];
    %title= yield(:title) || default_title
    != yield :head

  %body
    #wrapper
      #header
        .title
          %h1
            != link_to h(site_name), root_path
            %span.site_version= site_version
          %h2.lead= site_lead

      #gnavi
        %span.menu
          != link_to 'トップ', root_path
          != link_to 'おしらせ', articles_path
          != link_to 'ふつうのシステム開発', pages_path
          != link_to '活動実績', page_path('OurWorks')
          != link_to 'よくある質問', page_path('FAQ')
          != link_to '私たちについて', page_path('EiwaSystemManagement')
          != link_to 'お問い合わせ・ご相談', 'http://www.esm.co.jp/contact/service.html'

      #container
        #content
          != render :partial => 'shared/flash', :locals => {:flash => flash}
          !~ (content = yield(:content)).blank? ? yield : content

      #sidebar!= (sidebar = yield(:sidebar)).blank? ? render(:partial => 'shared/sidebar') : sidebar

      #footer
        %p このサイトでは<a href="http://www.blankcss.com" target="_blank">BlankCSS.com</a>の提供するCSSを利用しています。
        %p
          このサイトに掲載されている文章のライセンスは<br />
          <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/">「Creative Commons Attribution 2.1 Japan License」</a>です。<br />
          <a class="image" rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/2.1/jp/88x31.png" /></a>

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-3364058-1");
      pageTracker._initData();
      pageTracker._trackPageview();

    != disqus_comment_counts
