<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag :defaults %>
  <title>Ruby x Agile: Rubyでアジャイルなソフトウェア開発を実現する永和システムマネジメント</title>
</head>

<body>
  <div id="wrapper">
    <div id="header">
	  <h1><%= link_to 'Ruby x Agile', '/' %></h1>
	  <div class="lead">Rubyでアジャイルなシステム開発を実現する永和システムマネジメントのWebサイト</div>
	</div><!-- end .hearder -->

	  <div id="content">
		<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

		<%= yield %>

	  </div><!-- end .content -->
	<div id="sidebar">
	  <%= (sidebar = yield :sidebar) ? sidebar : render(:partial => 'shared/sidebar') %>
	</div>
  </div><!-- end .sidebar -->

  <div id="footer">
	<p>このサイトでは<a href="http://www.blankcss.com" target="_blank">BlankCSS.com</a>の提供するCSSを利用しています。</p>
	  </p>
  </div><!-- end .footer -->

</div><!-- end .wrapper -->
<!-- TODO: Google Analytics -->

</body>
</html>
